* {
  box-sizing: border-box;
  margin: 0;
}

.Registered, .NotRegistered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 100px;
}

.profile {
  border: solid 2px black;
  padding: 10px;
  margin-bottom: 20px;
  align-self: flex-start;
}

.queryInput {
  width: 500px;
  font-size: larger;
  margin-bottom: 30px;
}

.movieGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.movieBlock {
  display: flex;
  margin-bottom: 40px;
  margin-left: 40px;
}

.text {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1.2rem;
}

button {
  margin-bottom: 30px;
}

.formBox {
  border: solid 2px black;
  margin-bottom: 20px;
  padding: 10px;
}